@font-face {
    font-family: 'entyporegular';
    src: url('fonts/entypo_regular_macroman/Entypo-webfont.eot');
    src: url('fonts/entypo_regular_macroman/Entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/entypo_regular_macroman/Entypo-webfont.woff') format('woff'),
         url('fonts/entypo_regular_macroman/Entypo-webfont.ttf') format('truetype'),
         url('fonts/entypo_regular_macroman/Entypo-webfont.svg#entyporegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: 'open_sansregular';
    background-color: #ECF0F1;
}

#tableau
{
    width:100%;
    text-align: left;
    font-size: 1.5em;
}

#td_date, #td_name, #td_price
{
    width:10%;
}

#insideems
{
    text-decoration: none;
    color: green;
    font-family: "entyporegular";
    font-size: 45px;
}

div
{
   /* border : solid 1px black;*/
}

#login
{
    margin: auto;
    text-align: center;
    font-size: 6em;
}

h1, h3, h2
{
    text-align:center;
}

.bouton4 
{
    margin: auto;
    padding:6px 6px 6px 6px;
    margin-top: 15px;
    text-align: center;
    font:bold 2em Arial;
    background:#f5f5f5;
    color:#555;
    border-radius:2px;
    width:300px;
    border:1px solid #ccc;
    box-shadow:1px 1px 3px #999;
}

h3
{
    background-color: black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}

#liste_order
{
    text-align: right;
    width:80%;
}

.billet_auteur img
{
    border-radius: 60px;
}

#add_button, #garbage
{
    position: fixed;
    background-color: blue;
    border-radius: 60px;
    width: 85px;
    height: 85px;
    bottom: 10px;
    left: 10px;
}

#add_ems
{
    background-color: #115883;
    border-radius: 60px;
    position: fixed;
    width: 85px;
    height: 85px;
    bottom: 100px;
    left: 10px;
}

#add_expense
{
    background-color: green;
    border-radius: 60px;
    position: fixed;
    width: 85px;
    height: 85px;
    bottom: 190px;
    left: 10px;
}

#add_expense a, #add_ems a, #add_button a, #garbage a
{
    font-family: "entyporegular";
    position: absolute;
    color: #FFF;
    text-decoration: none;
}

#add_button a
{
    margin-left: 4px;
    margin-top: -6px;
    font-size: 200px;
}

#add_ems a
{
    margin-left: 5px;
    margin-top: 9px;
    font-size: 135px;
}

#add_expense a
{
    font-family: 'open_sansregular';
    margin-left: 20px;
    margin-top: -10px;
    font-size: 80px;
}

#garbage a
{
    margin-left: 13px;
    margin-top: 8px;
    font-size: 136px;
}

h3 span
{
    background-color:black;
    color:white;
    font-size:0.8em;
    margin-bottom:0px;
    font-weight: normal;
}



.news p, .news pre, .news .divmembre
{
    background-color: white;
    margin-top:0px;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.news, #header
{
    max-width: 960px;
    margin:auto;
}

#header
{
    width: calc(100% - 20px);
}

.news
{
    background-color: white;
    box-shadow: 0px 0px 10px 3px grey;
}

.billet
{
    position: relative;
}

.billet_auteur
{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    margin-top : 5px;
}

.liste_expenses, .billet_contenu
{
    position: relative;
    vertical-align: top;
    display: inline-block;
    font-size: 1.5em;
}

.liste_expenses hr
{
    width:90%;
}

.liste_expenses
{
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
}

.billet_contenu
{
    width: calc(100% - 524px);
}

.product_details
{  
    position: relative;
    vertical-align: top;
    display: inline-block;
    margin-top : 3px;
    text-align: left;
}

.product_picture, .bought_buy
{
    font-family: "entyporegular";
    font-size: 140px;
    position: relative;
    vertical-align: top;
    display: inline-block;
    margin-top : 3px;
    text-align: left;
    color: gainsboro;
}

.bought_buy
{
    width:80px;
    margin-top : 8px;
}

#tobuy, #bought
{
    position: absolute;
    color: black;
    text-decoration: none;
    font-size: 150px;
}

#bought
{
    color: orange;
}

.membre
{
    display: inline-block;
}

.avatar30
{
    border-radius: 15px;
}

.avatar150
{
    box-shadow: 0px 0px 10px 3px grey;
        display: inline-block;
}

a
{
    text-decoration: none;
    color: blue;
}

.inscription, .inscription table
{
    
    margin: auto;
    width: 100%;
    /* border-radius: 5px;
    background-color: #CCCCCC; */
}

.inscription, .titre_inscription
{
    /*padding: 2px 24px 28px 24px;
      /* border-radius: 5px; 
   /* box-shadow: 3px 3px 3px grey; */
    text-align:center;
    text-transform: uppercase;
}

.nouveau_billet
{
    padding: 2px 24px 28px 24px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px grey;
    text-align:center;
    margin: auto;  
}

.nouveau_billet, .nouveau_billet table
{
    background-color: #CCCCCC;
    margin-top: 30px;
    width: 800px;
    border-radius: 5px;
}

.bouton
{
    text-align: center;
}

td
{
    width:50%;
}

.sub_error
{
    font-size: 0.8em;
    color: red;
}

#normal
{
    text-align: left;
    background-color: #CCFFFF;
}

.header_master
{
    background-color: grey;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    padding-top: 10px;
    box-shadow: 0px 0px 10px 1px black;
}

.header_master a
{
    color: white;
}

#titre
{
    padding-top: 30px;
}

#header_left, #header_right, .avatartop
{
    display: inline-block;
    position: relative;
}

.avatar30
{
    margin-top: -4px;
    margin-left: 5px;
}

#header_right, #avatartop
{
    float: right;
}

/* LIGHTBOX */

#shadowing_connexion, #shadowing_inscription
{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:10;
    opacity:0.5;
    filter: alpha(opacity=50);
}


#box_inscription, #box_connexion
{
    display: none;
    position: fixed;
    top: 25%;
    left: 42%;
    width: 300px;
    height: 400px;
    padding: 0px;
    margin:0;
    border: 0px solid grey;
    box-shadow: 0px 0px 3px 3px grey;
    background-color: #CCCCCC;
    /*border-radius: 5px;*/
    z-index:101;
    overflow: auto;
}

#boxtitle_connexion, #boxtitle_inscription
{
    display:none; 
    position:absolute;
    float:center;
    top:0;
    left:0;
    width:496px;
    height:24px;
    padding:0;
    padding-top:4px;
    left-padding:8px;
    margin:0;
    border-bottom:4px solid #3CF;
    background-color: #09c;
    color:white;
    text-align:center;
}